Raina Pereira <schmoogalooga@gmail.com>
Raina Pereira <126128865+comradescallion@users.noreply.github.com>
Katherine Fishbane <Kfish@rit.edu>
Katherine Fishbane <kf1634@rit.edu>
Katherine Fishbane <144246177+KatherineFishbane@users.noreply.github.com>
Raina Pereira <rsp9929@rit.edu>
Willow Frank <wsf8177@rit.edu>
Willow Frank <144167180+WillRIT@users.noreply.github.com>
Caleb Maciag <cbm6716@GOL2435-07>
Caleb Maciag <cbm6716@MSS3110-22>
Caleb Maciag <cbm6716@MSS3110-14A>
Caleb Maciag <cbm6716@GOL2000-06D>
Caleb Maciag <cbm6716@GOL2000-14>
Raina Pereira <rsp9929@MSS3110-24>
Raina Pereira <rsp9929@MSS3110-22>
Raina Pereira <rsp9929@GOL2435-11>
