Raina Pereira <rsp9929@GOL2435-11>
Raina Pereira <rsp9929@MSS3110-24>
Willow Frank <144167180+WillRIT@users.noreply.github.com>
Willow Frank <wsf8177@rit.edu>
comradescallion <126128865+comradescallion@users.noreply.github.com>
comradescallion <schmoogalooga@gmail.com>
Katherine Fishbane <kf1634@rit.edu>
Katherine Fishbane <144246177+KatherineFishbane@users.noreply.github.com>
Caleb Maciag <cbm6716@MSS3110-22>
Caleb Maciag <cbm6716@GOL2435-07>
